.button {
  padding: var(--ds-spacing-sm) var(--ds-spacing-md);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-width: 2px;
  border-style: solid;
  border-radius: var(--ds-radius-sm);
  transition: var(--ds-transition);
  display: inline-block;
  text-align: center;
  width: 100%;
  position: relative;
}

.solid {
  background-color: var(--ds-primary);
  color: var(--ds-text);
  border-color: var(--ds-primary);
}

.solid:hover {
  background-color: var(--ds-secondary);
  border-color: var(--ds-secondary);
  color: var(--ds-text);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.loading {
  color: transparent;
  pointer-events: none;
}

.loading::after {
  content: "Carregando...";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: currentColor;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

/* Opcional: Adicionar estilos para os outros variants se precisar */
.outline {
  background-color: transparent;
  color: var(--ds-primary);
  border-color: var(--ds-primary);
}

.outline:hover {
  background-color: var(--ds-primary);
  color: var(--ds-text);
}

.ghost {
  background-color: transparent;
  color: var(--ds-text);
  border-color: transparent;
}

.ghost:hover {
  background-color: var(--ds-border);
}
